@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

:root {
    --main-color: #027bb8;
    --main-color-hover: #36ace7;

    --gray-color: #575757;
}

.bg-main-color {
    background: linear-gradient(90deg, var(--main-color), #42afe6)
}

.custom-gray-color {
    color: var(--gray-color);
}


body {
    max-width: 1920px;
    min-width: 260px;
    font-size: 16px;
}

li {
    list-style: none;
}

h1, h5{
    font-family: 'Arimo', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
p {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;

}

a {
    text-decoration: none;

}

nav {
    transition: background-color 0.3s ease;
    background-color: transparent;
    height: 70px;

}

.navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-container {
    padding: 0px 50px;
}

.img-logo {
    width: 40px;
    height: 40px;

}

.logo-text {
    font-size: 15px;
    font-family: 'Lora', serif;
    font-family: 'Arimo', sans-serif;
}

.btn-menu {
    padding: 10px 5px;
}



@media(min-width: 300px) {
    .logo-text {
        font-size: 17px;
        font-family: 'Lora', serif;
        font-family: 'Arimo', sans-serif;
    }

}

@media(max-width: 992px) {
    .nav-container {
        padding: 0px 0px;
    }

}











/*  PRINCIPAL  */
.img-principal-1 {
    background-image: url("../images/porteiro.jpg");
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-principal-2 {
    background-image: url("../images/recepcionista.jpg");
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
    height: 100%;
}

.img-principal-3 {
    background-image: url("../images/zelador.jpg");
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
    height: 100%;
}

.carousel-caption {
    left: 50%;
    top: 59%;
    transform: translate(-50%, -50%);
}

.carousel-item>.carousel-caption {
    bottom: 2rem;
}

.carousel-caption>h1 {
    font-size: 8vw;
    word-break: keep-all;
    font-family: 'Lora', serif;
}

#carousel-inner-principal>.carousel-item {
    height: 450px;
}

@media(min-width: 500px) {

    .logo-text {
        font-size: 20px;
        font-family: 'Lora', serif;
        font-family: 'Arimo', sans-serif;
    }

    .img-logo {
        width: 100%;
        height: 100%;
    }

    #carousel-inner-principal>.carousel-item {
        height: 550px;
        background-color: black;
    }


    .carousel-caption>h1 {
        font-size: 40px;
        word-break: keep-all;
    }



    .carousel-caption>h1 {
        font-size: 8vw;
        word-break: keep-all;
    }

    .carousel-caption>p {
        font-size: 17px;
    }



}

@media(min-width: 992px) {

    .carousel-item>.carousel-caption {
        bottom: -2rem;
    }

    .carousel-caption>h1 {
        font-size: 5rem;
    }

    .carousel-caption>p {
        font-size: 20px;
    }

}

@media(min-width: 540px) {

    #carousel-clientes {
        display: flex;
    }
}





/*   SERVIÇOS   */
.card-body {
    padding: 0px;
}

.card-title {
    margin: 5px 0px;
}

.card.-title {
    text-decoration: none;
}

/* .servicos-blue-ul > li:hover{
    cursor: pointer;
    background-color: var(--main-color-hover);
    transition: 0.3s;
}
 */
.container-servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container-servicos-img {
    max-width: 600px;
    padding: 16px;
}

.servicos-main-container>div>form {
    width: auto;
    margin: 0 auto;
}


@media(min-width: 600px) {
    .container-servicos {
        flex-direction: row;
        border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    }
}

@media(min-width: 1100px) {
    .servicos-main-container>div {
        display: flex;
    }

    .container-servicos-img {

        padding-right: 0px;
    }

    .servicos-main-container>div>form {
        width: auto;
        margin: 0 0;
    }
}

@media(max-width: 954px) {
    .card-body {
        text-align: center;
    }

    .card-body>.card-text {
        display: none;
    }

    .card-body>button {
        display: none;
    }

}

@media(min-width: 954px) {
    .card-body {
        padding: 15px;
        padding-bottom: 20px;
    }


}










/*    SOBRE    */
.sobre-textos {
    width: 100%;
}

.sobre-imagem {
    display: none;
    /*     width: 270px;
    height: 300px */
}









@media(min-width: 761px) {
    .sobre-textos {
        width: 50%;
    }

    .sobre-imagem {
        display: flex;

    }
}

@media(min-width: 500px) {
    .container-cards-smaller-screens {
        display: none;
    }

    .container-cards-bigger-screens {
        display: flex;
    }
}

@media(min-width: 805px) {
    .container-cards-bigger-screens>.container-xl {
        justify-content: space-between;
    }
}








/*   CLIENTES   */
.clientes-screns-container{
    display: flex;
    flex-direction:column ;
}


.clientes-bg-screens {
    display: none;
}
.clientes-bg-screens-left-text{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.clientes-sm-screens {
    width: 100%;
}



@media(min-width: 466px) {
    .clientes-bg-screens {
        display: flex;
    }

    .clientes-sm-screens {
        display: none;
        width: 100%;
    }

}
@media(min-width: 870px) {
    .clientes-screns-container{
        display: flex;
        flex-direction:row ;
    }
    
 
    .clientes-bg-screens {
        width: 50%;
    }
    .clientes-bg-screens-left-text{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 0px;
    }


}





/*   PARCEIROS    */
.parceiros-bg-screens {
    display: none;
}

.parceiros-sm-screens {
    display: flex;

}

@media(min-width: 466px) {
    .parceiros-bg-screens {
        display: flex;
    }

    .parceiros-sm-screens {
        display: none;
    }

}







/*   CONTATO   */

.container-contato>.container-xl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contato-section-text {
    max-width: 600px;
    text-align: center;
}


.container-contato>.container-xl>form {
    width: 100%;
    max-width: 450px;
}

@media(min-width: 900px) {

    .container-contato>.container-xl {
        flex-direction: row;
    }

    .contato-section-text {
        text-align: start;
    }

    .contato-section-text>h1 {
        font-size: 60px;
    }

    .contato-section-text>h1 {
        font-size: 60px;
    }


}




/*   FOOTER    */
.footer-top-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width: 640px) {

    .footer-top-grid {
        flex-direction: row;
    }
}

.btn-wpp {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.img-logo-footer {
    width: 50px;
    margin-left: 15px;
}




@media(min-width: 992px) {
    .img-logo-footer {
        width: 70px;
    }


}








.js-li-hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: #36ace7;
}



.svg-green-mark {
    width: 30px;
    height: 30px;
}



/* /PÁGINA DE CONTATO */
.contato-main-container{
    background-image: url('../images/logowhite.PNG');
    background-repeat: no-repeat;
    background-position:top 20px right -50px;
    background-size: 25%;
}

.contato-main-container> form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 2rem 1rem ;

    
}

@media(min-width: 450px){
    
    .contato-main-container> form{
        
        width: 450px;
        padding: 2rem 3rem ;
}
}





/* /PÁGINA DE EPPRESA */

.test{
    color: #F6F9FE;
}